
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>User Account Creation Form A Flat Responsive Widget Template :: W3layouts</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="User Account Creation Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->

    <!--&lt;!&ndash; Style &ndash;&gt; <link rel="stylesheet" href="../../../../../../../Desktop/user_account_creation_form_widget/web/css/style.css" type="text/css" media="all" />-->
    <!--<link rel="stylesheet" th:href="@{/css/style.css}">-->
    <!-- Web-Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" 	type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" 		type="text/css" media="all">
    <link rel="stylesheet" th:href="@{/css/styleCreate.css}" >
    <!-- //Web-Fonts -->

</head>
<body>

<h1>ĐỒNG HỒ XỊN</h1>

<div class="container">

    <h2>Create a product</h2>
    <p><a th:href="@{products}">Danh Sách Sản Phẩm</a></p>
    <div class="contact">
        <form th:action="@{/delete-product}" th:object="${product}" method="post">
            <input th:type="hidden" name="id" th:field="*{id}">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td><input type="text" th:field="*{image}"></td>
                </tr>
                <tr>
                    <td>Image1</td>
                    <td><input type="text" th:field="*{image1}"></td>
                </tr>
                <tr>
                    <td>Image2</td>
                    <td><input type="text" th:field="*{image2}"></td>
                </tr>
                <tr>
                    <td>Image3</td>
                    <td><input type="text" th:field="*{image3}"></td>
                </tr>
                <tr>
                    <td>Màu Sắc</td>
                    <td><input type="text" th:field="*{color}"></td>
                </tr>
                <tr>
                    <td>Sản Phảm Hot</td>
                    <td><input type="text" th:field="*{hot}"></td>
                </tr>
                <tr>
                    <td>Kiểu Máy</td>
                    <td><input type="text" th:field="*{machineType}"></td>
                </tr>
                <tr>
                    <td>Kích cỡ</td>
                    <td><input type="text" th:field="*{size}"></td>
                </tr>
                <tr>
                    <td>Chất liệu vỏ</td>
                    <td><input type="text" th:field="*{materialShell}"></td>
                </tr>
                <tr>
                    <td>Chống nước</td>
                    <td><input type="text" th:field="*{waterproof}"></td>
                </tr>
                <tr>
                    <td>Mặt Kính</td>
                    <td><input type="text" th:field="*{faceGlass}"></td>
                </tr>
                <tr>
                    <td>Chi tiết</td>
                    <td><input type="text" th:field="*{detail}"></td>
                </tr>
                <tr>
                    <td>Giá Sản Phảm</td>
                    <td><input type="text" th:field="*{unitPrice}"></td>
                </tr>
                <tr>
                    <td>Giá Khuyến Mãi</td>
                    <td><input type="text" th:field="*{promotionPrice}"></td>
                </tr>
                <tr>
                    <td>Loại Sản Phẩm</td>
                    <td>
                        <select th:field="*{productType}" style="width: 100%; padding: 10px"} >
                            <option th:each="productType : ${productTypes}" th:value="${productType.id}" th:text="${productType.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nhà Sản Xuất</td>
                    <td>
                        <select th:field="*{producer}">
                            <option th:each="producer : ${producers}" th:value="${producer.id}" th:text="${producer.name}">

                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Xóa Sản Phẩm"></td>
                </tr>
            </table>
        </form>
        </table>
    </div>
</div>

<div class="footer">
    <p> &copy; shop đồng hồ | đồng hồ uy tín chất lượng</p>
</div>

</body>
</html>