<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<h1>Sửa Thông Tin Sản Phẩm</h1>
<p>
    <a href="/products">Chuyển đến trang danh sách</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-product}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="text" th:field="*{image}"></td>
        </tr>
        <tr>
            <td>Image1</td>
            <td><input type="text" th:field="*{image1}"></td>
        </tr>
        <tr>
            <td>Image2</td>
            <td><input type="text" th:field="*{image2}"></td>
        </tr>
        <tr>
            <td>Image3</td>
            <td><input type="text" th:field="*{image3}"></td>
        </tr>
        <tr>
            <td>Màu Sắc</td>
            <td><input type="text" th:field="*{color}"></td>
        </tr>
        <tr>
            <td>Sản Phảm Hot</td>
            <td><input type="text" th:field="*{hot}"></td>
        </tr>
        <tr>
            <td>Kiểu Máy</td>
            <td><input type="text" th:field="*{machineType}"></td>
        </tr>
        <tr>
            <td>Kích cỡ</td>
            <td><input type="text" th:field="*{size}"></td>
        </tr>
        <tr>
            <td>Chất liệu vỏ</td>
            <td><input type="text" th:field="*{materialShell}"></td>
        </tr>
        <tr>
            <td>Chống nước</td>
            <td><input type="text" th:field="*{waterproof}"></td>
        </tr>
        <tr>
            <td>Mặt Kính</td>
            <td><input type="text" th:field="*{faceGlass}"></td>
        </tr>
        <tr>
            <td>Chi tiết</td>
            <td><input type="text" th:field="*{detail}"></td>
        </tr>
        <tr>
            <td>Giá Sản Phảm</td>
            <td><input type="text" th:field="*{unitPrice}"></td>
        </tr>
        <tr>
            <td>Giá Khuyến Mãi</td>
            <td><input type="text" th:field="*{promotionPrice}"></td>
        </tr>
        <tr>
            <td>ID Chủng Loại</td>
            <td><input type="text" th:field="*{idType}"></td>
        </tr>
        <tr>
            <td>ID Nhà Sản Xuất</td>
            <td><input type="text" th:field="*{idProducer}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Sửa Sản Phẩm"></td>
        </tr>
        </table>
</form>
</body>
</html>