
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Light Bootstrap Dashboard by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{../../static/css/animate.min.css}" rel="stylesheet">-->

    <!--  Light Bootstrap Table core CSS    -->
    <link th:href="@{/css/light-bootstrap-dashboard.css}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/css/demo.css}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple"  th:src="@{/img/hsidebar-5.jpg}">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    ADMIN
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="bills">
                        <i class="pe-7s-graph"></i>
                        <p>Tổng Quan</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/users">
                        <i class="pe-7s-user"></i>
                        <p>Quản Trị Thành Viên</p>
                    </a>
                </li>
                <li>
                    <a  href="/admin/products">
                        <i class="pe-7s-note2"></i>
                        <p>Quản Lý Sản Phẩm</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/producers">
                        <i class="pe-7s-news-paper"></i>
                        <p>Quản Trị Nhà Sản Xuất</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/productTypes">
                        <i class="pe-7s-science"></i>
                        <p>Quản Trị Loại Đồng Hồ</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/admin/list-order">
                        <i class="pe-7s-science"></i>
                        <p>Quản Trị Hóa Đơn</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">Table List</a>-->
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <!--<li>-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i class="fa fa-dashboard"></i>-->
                        <!--<p class="hidden-lg hidden-md">Dashboard</p>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i class="fa fa-globe"></i>-->
                        <!--<b class="caret hidden-sm hidden-xs"></b>-->
                        <!--<span class="notification hidden-sm hidden-xs">5</span>-->
                        <!--<p class="hidden-lg hidden-md">-->
                        <!--5 Notifications-->
                        <!--<b class="caret"></b>-->
                        <!--</p>-->
                        <!--</a>-->
                        <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Notification 1</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Notification 2</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Notification 3</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Notification 4</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">Another notification</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="">-->
                        <!--<i class="fa fa-search"></i>-->
                        <!--<p class="hidden-lg hidden-md">Search</p>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>-->
                        <!--<a href="">-->
                        <!--<p>Account</p>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<p>-->
                        <!--Dropdown-->
                        <!--<b class="caret"></b>-->
                        <!--</p>-->

                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <li style="text-align: right">
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Logout" type="submit"
                                        th:text="Logout"></button>
                            </form>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Hóa Đơn</h4>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <form th:action="@{/admin/edit-order}" th:object="${order}" method="post">
                                        <tr>
                                            <td>Mã đơn hàng: </td>
                                            <td><input type="text" th:field="*{id}" hidden>
                                                <input type="text" th:field="*{id}" disabled></td>
                                        </tr>
                                        <tr>
                                            <td>Ngày đặt hàng: </td>
                                            <td><input type="text" th:field="*{dateOrder}" hidden>
                                                <input type="text" th:field="*{dateOrder}" disabled></td>
                                        </tr>
                                        <tr>
                                            <td>Tên khách hàng: </td>
                                            <td><input type="text" th:field="*{customer.id}" hidden>
                                                <input type="text" th:field="*{customer.name}" disabled></td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ: </td>
                                            <td>
                                                <input type="text" th:field="*{customer.address}" disabled></td>
                                        </tr>
                                        <tr>
                                            <table class="table table-hover table-striped" style="text-align: left" id="res">
                                                <thead>
                                                <th>ID</th>
                                                <th>Sản Phẩm</th>
                                                <th>Giá</th>
                                                <th>Số Lượng</th>
                                                <th>KM</th>
                                                <th>Đơn Giá</th>
                                                </thead>
                                                <tbody>
                                                <th:block th:each="item: ${items}">
                                                    <tr>
                                                        <td scope="row" th:text="${item.product.id}"></td>
                                                        <td><span th:text="${item.product.name}"></span></td>

                                                        <td th:text="${item.product.unitPrice}"></td>
                                                        <td>
                                                            <span th:text="${item.quantity}" th:value="${item.quantity}"></span>
                                                        </td>
                                                        <td><span th:text="${item.product.promotionPrice}"></span>%</td>

                                                        <td th:text="${item.product.unitPrice * item.quantity - item.product.unitPrice * item.quantity * item.product.promotionPrice / 100}" class="dongia"></td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                            <table class="table">
                                                <tbody><tr>
                                                    <td align="center">
                                                        <b>Khách hàng</b><br><i>(Kí họ và tên)</i>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </td>
                                                    <td align="center">
                                                        Ngày......Tháng......Năm............<br>
                                                        <b>Nhân viên</b><br><i>(Kí họ và tên)</i>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" align="center">
                                                        <button onclick="myFunction()" type="button" style=" margin-top: 5px;margin-bottom: 5px;inline-height: 40px;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                                                            <i class="fa fa-print"></i>  Getting Bill
                                                        </button>

                                                    </td>
                                                </tr>
                                                </tbody></table>
                                            <script type="application/javascript">
                                                var sum = 0;
                                                var table = document.getElementById("res");
                                                var ths = table.getElementsByTagName('th');
                                                var tds = table.getElementsByClassName('dongia');
                                                for(var i=0;i<tds.length;i++){
                                                    sum += isNaN(tds[i].innerText) ? 0 : parseInt(tds[i].innerText);
                                                }
                                                var row = table.insertRow(table.rows.length);
                                                var cell = row.insertCell(0);
                                                cell.setAttribute('colspan', ths.length);
                                                var totalBalance  = document.createTextNode('Tổng tiền: ' + sum + ' VNĐ');
                                                cell.appendChild(totalBalance);
                                            </script>
                                        </tr>
                                    </form>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function myFunction() {
                window.print();
            }
        </script>
    </div>
</div>



</body>

<!--   Core JS Files   -->
<script th:src="@{/js/jquery.3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Charts Plugin -->
<script th:src="@{/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script th:src="@{/js/bootstrap-notify.js}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script th:src="@{/js/light-bootstrap-dashboard.js}"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script th:src="@{/js/demo.js}"></script>


</html>
