<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete producer</title>
</head>
<body>
<h1>Delete producer</h1>
<p>
    <a href="/producers">Category list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/delete-producer}" th:object="${producer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Delete producer"></td>
        </tr>
    </table>
</form>
</body>
</html>